<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="love.pangteen.problem.mapper.JudgeMapper">


    <select id="getProblemListCount" resultType="love.pangteen.api.pojo.vo.ProblemCountVO">
        SELECT pid,COUNT(IF(STATUS=-3,STATUS,NULL)) AS pe,
        COUNT(IF(STATUS=-2,STATUS,NULL)) AS ce,
        COUNT(IF(STATUS=-1,STATUS,NULL)) AS wa,
        COUNT(IF(STATUS=0,STATUS,NULL)) AS ac,
        COUNT(IF(STATUS=1,STATUS,NULL)) AS tle,
        COUNT(IF(STATUS=2,STATUS,NULL)) AS mle,
        COUNT(IF(STATUS=3,STATUS,NULL)) AS re,
        COUNT(IF(STATUS=4,STATUS,NULL)) AS se,
        COUNT(IF(STATUS=8,STATUS,NULL)) AS pa,
        COUNT(*) AS total
        FROM judge
        <where>
            cid=0 AND gid is null
            <if test="pidList!=null and pidList.size > 0">
                AND pid in
                <foreach collection="pidList" item="pid" open="(" separator="," close=")">
                    #{pid}
                </foreach>
            </if>
        </where>
        GROUP BY pid
    </select>
</mapper>