# idea
*.iml
.idea

logs

ptoj-deploy/ptoj

/ptoj-springboot/ptoj-api/target/
/ptoj-springboot/ptoj-common/target/
/ptoj-springboot/ptoj-gateway/target/
/ptoj-springboot/user-service/target/
/ptoj-springboot/problem-service/target/
/ptoj-springboot/submit-service/target/
/ptoj-springboot/judge-service/target/
